
#-----------------------------------------------------
# Environment
MVC_ENV=develop

#-----------------------------------------------------
# API
apikey=12345678-1234-1234-1234-123456789012

#-----------------------------------------------------
# DB
db.type=mysql
db.host=db
db.port=3306
db.dbname=Emvicy2x
db.username=root
db.password=root

#-----------------------------------------------------
# Email / Mailpit
email.sHost=localhost
email.iPort=1025
email.sSecure=
email.bAuth=0
email.sUsername=null
email.sPassword=null
email.sSenderEmailAddress=noreply@example.com
