<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../application/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="loader.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory>Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>../../../application/library/MVC/</directory>
        </include>
    </source>

    <php>
        <env name="MVC_ENV" value="test"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
